*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #dfe9f5;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color:rgb(248, 208, 6);
    /* bg-dark navbar-dark */
    color: #ffffff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffffff;
   
}
img{
    width:100%;
}




.intro-text{
    justify-content: center;
    
} 

.calc{
    background-color: aqua; 
    /* background-color: rgb(243, 227, 6); */

}